gw-management-v1.json
[{"id":"87158aa2.470b68","type":"tab","label":"***GW_alertarFalha","disabled":false,"info":""},{"id":"8a45d10b.c4c18","type":"comment","z":"87158aa2.470b68","name":"Gateway Management","info":"","x":540,"y":60,"wires":[]},{"id":"63b895ee.a9d56c","type":"inject","z":"87158aa2.470b68","name":"CXS_gpstesouro","props":[{"p":"payload"},{"p":"id","v":"gw-gpstesouro","vt":"str"},{"p":"owner","v":"Mario_Câmara","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"CXS_gpstesouro","payloadType":"str","x":170,"y":620,"wires":[["90ae30e8.ce354"]]},{"id":"8739a6de.01f408","type":"http request","z":"87158aa2.470b68","name":"request","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":560,"y":200,"wires":[["edc4b93e.208918"]]},{"id":"90ae30e8.ce354","type":"template","z":"87158aa2.470b68","name":"build url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://mapper.packetbroker.net/api/v2/gateways/netID=000013,tenantID=ttn,id={{id}}","output":"str","x":400,"y":200,"wires":[["8739a6de.01f408"]]},{"id":"5a4a30.9b5595d","type":"function","z":"87158aa2.470b68","name":"status","func":"var status;\nvar eui;\n//Caso responseURL for recebida corretamente\nif (200 == msg.statusCode) {\n    if (!(\"error\" in msg.payload)) {\n        var last = (new Date(msg.payload.updatedAt)).getTime() / 1000;\n        var now = new Date();\n        var current = (now.getTime() + (now.getTimezoneOffset() * 60)) / 1000;        \n        var time_lapse = current - last;\n        msg.last = last;\n        msg.current = current;\n        msg.time_lapse = (parseFloat(time_lapse/60).toPrecision(3));\n        status = (msg.payload.online == true)? 'online': 'offline';\n    }\n}\nmsg.eui = msg.payload.eui;\nmsg.status = status;\nmsg.payload = \":::\" + status + \"::: \" + msg.time_lapse + \" min \"\n+ \"(rxRate \" + msg.payload.rxRate +\"; txRate \" + msg.payload.txRate + \")\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":200,"wires":[["f23632c5.91cac","b80c2446.9ebe98"]]},{"id":"f23632c5.91cac","type":"rbe","z":"87158aa2.470b68","name":"has_changed","func":"rbei","gap":"","start":"","inout":"out","septopics":true,"property":"status","topi":"id","x":480,"y":300,"wires":[["614204d3.dff28c"]]},{"id":"614204d3.dff28c","type":"template","z":"87158aa2.470b68","name":"message template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{owner}}: gateway [{{ id }}] ({{ eui }}) status has changed to {{ payload }}.","output":"str","x":730,"y":300,"wires":[["f5ac112b.5c6f2","328cad0a.8b7f82"]]},{"id":"9662f0b0.0c23","type":"inject","z":"87158aa2.470b68","name":"CXS_Trino01","props":[{"p":"payload"},{"p":"id","v":"gwtrinopolo01","vt":"str"},{"p":"owner","v":"Ademar_Scariot","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"CXS_Trino01","payloadType":"str","x":160,"y":380,"wires":[["90ae30e8.ce354"]]},{"id":"8586bb66.a586e8","type":"inject","z":"87158aa2.470b68","name":"CXS_Trino02","props":[{"p":"payload"},{"p":"id","v":"gwtrinopolo02","vt":"str"},{"p":"owner","v":"Ademar_Scariot","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"CXS_Trino02","payloadType":"str","x":160,"y":420,"wires":[["90ae30e8.ce354"]]},{"id":"f5ac112b.5c6f2","type":"template","z":"87158aa2.470b68","name":"telegram payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"chatId\": -1001580402021,\n    \"type\": \"message\",\n    \"content\": \"{{payload}}\"\n}\n\n","output":"json","x":470,"y":400,"wires":[["f1a53c358176981a"]]},{"id":"59c9a9e9.bb8a28","type":"inject","z":"87158aa2.470b68","name":"Farroupillha","props":[{"p":"payload"},{"p":"id","v":"farroupilha","vt":"str"},{"p":"owner","v":"desconhecido","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Farroupillha","payloadType":"str","x":150,"y":180,"wires":[["90ae30e8.ce354"]]},{"id":"21cd4c47.443944","type":"inject","z":"87158aa2.470b68","name":"Veranopólis","props":[{"p":"payload"},{"p":"id","v":"gw-veranopolis","vt":"str"},{"p":"owner","v":"Gabriel_Pivato","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Veranopólis","payloadType":"str","x":150,"y":140,"wires":[["90ae30e8.ce354"]]},{"id":"908873d1.88cc7","type":"inject","z":"87158aa2.470b68","name":"CXS_Vortyce*","props":[{"p":"payload"},{"p":"id","v":"gtw-vortyce-main","vt":"str"},{"p":"owner","v":"Luiz_Fraga","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CXS_Vortyce*","payloadType":"str","x":160,"y":260,"wires":[["90ae30e8.ce354"]]},{"id":"34c98374.b54efc","type":"inject","z":"87158aa2.470b68","name":"CXS_Trino03","props":[{"p":"payload"},{"p":"id","v":"gwtrinopolo03","vt":"str"},{"p":"owner","v":"Ademar_Scariot","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CXS_Trino03","payloadType":"str","x":160,"y":460,"wires":[["90ae30e8.ce354"]]},{"id":"328cad0a.8b7f82","type":"debug","z":"87158aa2.470b68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":300,"wires":[]},{"id":"9ded9b45.87f6a8","type":"inject","z":"87158aa2.470b68","name":"CXS_desconhecido","props":[{"p":"payload"},{"p":"id","v":"5813d30c0370","vt":"str"},{"p":"owner","v":"desconhecido","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CXS_desconhecido","payloadType":"str","x":180,"y":220,"wires":[["90ae30e8.ce354"]]},{"id":"edc4b93e.208918","type":"json","z":"87158aa2.470b68","name":"","property":"payload","action":"","pretty":false,"x":710,"y":200,"wires":[["5a4a30.9b5595d"]]},{"id":"b80c2446.9ebe98","type":"debug","z":"87158aa2.470b68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":140,"wires":[]},{"id":"c54800e8.25039","type":"inject","z":"87158aa2.470b68","name":"CXS_Samuel","props":[{"p":"payload"},{"p":"id","v":"samuel","vt":"str"},{"p":"owner","v":"Samuel_Ferrigo","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CXS_Samuel","payloadType":"str","x":160,"y":500,"wires":[["90ae30e8.ce354"]]},{"id":"6c7c54eff2699529","type":"debug","z":"87158aa2.470b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":360,"wires":[]},{"id":"f1a53c358176981a","type":"telegram sender","z":"87158aa2.470b68","name":"TTN_Gateways_CXS","bot":"28188d6963536d17","haserroroutput":true,"outputs":2,"x":740,"y":400,"wires":[["6c7c54eff2699529"],["6ed4f097297fc028"]]},{"id":"c42a23a37bfcb05b","type":"inject","z":"87158aa2.470b68","name":"TESTE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Olá ... está sendo realizado um teste manual para checar a aplicação. Por favor, desconsidere!","payloadType":"str","x":470,"y":560,"wires":[["f5ac112b.5c6f2"]]},{"id":"5a8cda398336aecd","type":"inject","z":"87158aa2.470b68","name":"CXS_Samuel*","props":[{"p":"payload"},{"p":"id","v":"samuelcamara","vt":"str"},{"p":"owner","v":"Samuel_Ferrigo","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CXS_Samuel*","payloadType":"str","x":160,"y":540,"wires":[["90ae30e8.ce354"]]},{"id":"6ed4f097297fc028","type":"debug","z":"87158aa2.470b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":440,"wires":[]},{"id":"1facbbdd1a9c49e2","type":"comment","z":"87158aa2.470b68","name":"1 min (Local)","info":"","x":90,"y":580,"wires":[]},{"id":"4dc08d5e4b814d75","type":"comment","z":"87158aa2.470b68","name":"30 min (Arredores)","info":"","x":110,"y":60,"wires":[]},{"id":"4c4d129168551306","type":"comment","z":"87158aa2.470b68","name":"10 min (Caxias do Sul)","info":"","x":120,"y":340,"wires":[]},{"id":"9ce364d5c6060e49","type":"inject","z":"87158aa2.470b68","name":"CXS_Vortyce","props":[{"p":"payload"},{"p":"id","v":"gtw-vortyce-2","vt":"str"},{"p":"owner","v":"Luiz_Fraga","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CXS_Vortyce","payloadType":"str","x":160,"y":300,"wires":[["90ae30e8.ce354"]]},{"id":"d4181e1be7fa36ed","type":"inject","z":"87158aa2.470b68","name":"São Vicente do Sul","props":[{"p":"payload"},{"p":"id","v":"iffar-gw1","vt":"str"},{"p":"owner","v":"Henrique_Machado","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"São Vicente do Sul","payloadType":"str","x":180,"y":100,"wires":[["90ae30e8.ce354"]]},{"id":"28188d6963536d17","type":"telegram bot","botname":"TTN_Gateways_CXS","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
