gw-management-v1.json
[{"id":"87158aa2.470b68","type":"tab","label":"GW_alertarFalha","disabled":false,"info":""},{"id":"8a45d10b.c4c18","type":"comment","z":"87158aa2.470b68","name":"Gateway Management","info":"","x":200,"y":60,"wires":[]},{"id":"63b895ee.a9d56c","type":"inject","z":"87158aa2.470b68","name":"GW_gpstesouro","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"GW_gpstesouro","payload":"gw-gpstesouro","payloadType":"str","x":170,"y":620,"wires":[["90ae30e8.ce354"]]},{"id":"8739a6de.01f408","type":"http request","z":"87158aa2.470b68","name":"request","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":200,"wires":[["edc4b93e.208918"]]},{"id":"90ae30e8.ce354","type":"template","z":"87158aa2.470b68","name":"build url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://mapper.packetbroker.net/api/v2/gateways/netID=000013,tenantID=ttn,id={{payload}}","output":"str","x":400,"y":200,"wires":[["8739a6de.01f408"]]},{"id":"5a4a30.9b5595d","type":"function","z":"87158aa2.470b68","name":"status","func":"var status;\n//Caso responseURL for recebida corretamente\nif (200 == msg.statusCode) {\n    if (!(\"error\" in msg.payload)) {\n        var last = (new Date(msg.payload.updatedAt)).getTime() / 1000;\n        var now = new Date();\n        var current = (now.getTime() + (now.getTimezoneOffset() * 60)) / 1000;        \n        var time_lapse = current - last;\n        msg.last = last;\n        msg.current = current;\n        msg.time_lapse = (parseFloat(time_lapse/60).toPrecision(3));\n        status = (msg.payload.online == true)? 'online': 'offline';\n    }\n}\n\nmsg.status = status;\nmsg.payload = msg.topic + \"-\" + status + \": \" + msg.time_lapse + \" min \"\n+ \"(rxRate \" + msg.payload.rxRate +\"; txRate \" + msg.payload.txRate + \")\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":200,"wires":[["f23632c5.91cac","b80c2446.9ebe98"]]},{"id":"f23632c5.91cac","type":"rbe","z":"87158aa2.470b68","name":"has_changed","func":"rbei","gap":"","start":"","inout":"out","property":"status","x":440,"y":300,"wires":[["614204d3.dff28c"]]},{"id":"614204d3.dff28c","type":"template","z":"87158aa2.470b68","name":"message template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Gateway {{ topic }} status has changed to {{ payload }}.\n","output":"str","x":730,"y":300,"wires":[["f5ac112b.5c6f2","328cad0a.8b7f82"]]},{"id":"9662f0b0.0c23","type":"inject","z":"87158aa2.470b68","d":true,"name":"Trinopolo01","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"Trinopolo01","payload":"gwtrinopolo01","payloadType":"str","x":151,"y":336,"wires":[["90ae30e8.ce354"]]},{"id":"8586bb66.a586e8","type":"inject","z":"87158aa2.470b68","name":"Trinopolo02","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"topic":"Trinopolo02","payload":"gwtrinopolo02","payloadType":"str","x":150,"y":392,"wires":[["90ae30e8.ce354"]]},{"id":"f5ac112b.5c6f2","type":"template","z":"87158aa2.470b68","name":"telegram payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"chatId\": 1148637383,\n    \"type\": \"message\",\n    \"content\": \"{{payload}}\"\n}\n\n","output":"json","x":450,"y":400,"wires":[["8a66ebd3.7a5318"]]},{"id":"8a66ebd3.7a5318","type":"telegram sender","z":"87158aa2.470b68","name":"","bot":"3bb51d73.a39412","x":730,"y":400,"wires":[[]]},{"id":"59c9a9e9.bb8a28","type":"inject","z":"87158aa2.470b68","d":true,"name":"InovaSE01","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"InovaSE01","payload":"eui-0840411cbb0cffff","payloadType":"str","x":150,"y":231,"wires":[["90ae30e8.ce354"]]},{"id":"21cd4c47.443944","type":"inject","z":"87158aa2.470b68","d":true,"name":"GW_Veranopólis","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"GW_Veranópolis","payload":"eui-60c5a8fffe74645c","payloadType":"str","x":171,"y":176,"wires":[["90ae30e8.ce354"]]},{"id":"908873d1.88cc7","type":"inject","z":"87158aa2.470b68","name":"Vortyce","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"Vortyce","payload":"gtw-vortyce-main","payloadType":"str","x":141,"y":285,"wires":[["90ae30e8.ce354"]]},{"id":"34c98374.b54efc","type":"inject","z":"87158aa2.470b68","name":"Trinopolo03","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"Trinopolo03","payload":"gwtrinopolo03","payloadType":"str","x":150,"y":440,"wires":[["90ae30e8.ce354"]]},{"id":"a1df502e.8a749","type":"inject","z":"87158aa2.470b68","d":true,"name":"GW_Douglas","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"GW_Douglas","payload":"gw-douglas","payloadType":"str","x":160,"y":560,"wires":[["90ae30e8.ce354"]]},{"id":"328cad0a.8b7f82","type":"debug","z":"87158aa2.470b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":320,"wires":[]},{"id":"9ded9b45.87f6a8","type":"inject","z":"87158aa2.470b68","d":true,"name":"Novus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"Novus","payload":"eui-34fa40fffe140740","payloadType":"str","x":140,"y":120,"wires":[["90ae30e8.ce354"]]},{"id":"edc4b93e.208918","type":"json","z":"87158aa2.470b68","name":"","property":"payload","action":"","pretty":false,"x":730,"y":200,"wires":[["5a4a30.9b5595d"]]},{"id":"b80c2446.9ebe98","type":"debug","z":"87158aa2.470b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":120,"wires":[]},{"id":"c54800e8.25039","type":"inject","z":"87158aa2.470b68","name":"GW_Samuel","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"GW_Samuel","payload":"samuel","payloadType":"str","x":160,"y":500,"wires":[["90ae30e8.ce354"]]},{"id":"3bb51d73.a39412","type":"telegram bot","botname":"LoRa_Magic","usernames":"","chatids":"","baseapiurl":"","updatemode":"webhook","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]