gw-management.json
[{"id":"87158aa2.470b68","type":"tab","label":"GW_alertarFalha","disabled":false,"info":""},{"id":"8a45d10b.c4c18","type":"comment","z":"87158aa2.470b68","name":"Gateway Management","info":"","x":200,"y":60,"wires":[]},{"id":"63b895ee.a9d56c","type":"inject","z":"87158aa2.470b68","name":"GW_gpstesouro","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"GW_gpstesouro","payload":"eui-dca632fffe6b689a","payloadType":"str","x":170,"y":560,"wires":[["90ae30e8.ce354"]]},{"id":"8739a6de.01f408","type":"http request","z":"87158aa2.470b68","name":"request","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":200,"wires":[["5a4a30.9b5595d"]]},{"id":"90ae30e8.ce354","type":"template","z":"87158aa2.470b68","name":"build url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://noc.thethingsnetwork.org:8085/api/v2/gateways/{{payload}}","output":"str","x":400,"y":200,"wires":[["8739a6de.01f408"]]},{"id":"5a4a30.9b5595d","type":"function","z":"87158aa2.470b68","name":"status","func":"var status = 'offline';\n\nif (200 == msg.statusCode) {\n    if (!(\"error\" in msg.payload)) {\n        var last = (new Date(msg.payload.timestamp)).getTime() / 1000;\n        var now = new Date();\n        var current = (now.getTime() + (now.getTimezoneOffset() * 60)) / 1000;        \n        var difference = current - last;\n        msg.last = last;\n        msg.current = current;\n        msg.delta = difference;\n        if (difference < 90) status = 'online';\n    }\n}\n\nmsg.status = status;\nmsg.payload = msg.topic + \"-\" + status;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":200,"wires":[["f23632c5.91cac","249813e9.53d8fc"]]},{"id":"f23632c5.91cac","type":"rbe","z":"87158aa2.470b68","name":"has_changed","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":440,"y":300,"wires":[["614204d3.dff28c","328cad0a.8b7f82"]]},{"id":"614204d3.dff28c","type":"template","z":"87158aa2.470b68","name":"message template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Gateway {{ topic }} status has changed to {{ status }}.\n","output":"str","x":730,"y":300,"wires":[["f5ac112b.5c6f2"]]},{"id":"9662f0b0.0c23","type":"inject","z":"87158aa2.470b68","name":"Trinopolo01","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"Trinopolo01","payload":"eui-c0ee40ffff293d44","payloadType":"str","x":151,"y":336,"wires":[["90ae30e8.ce354"]]},{"id":"8586bb66.a586e8","type":"inject","z":"87158aa2.470b68","name":"Trinopolo02","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"Trinopolo02","payload":"eui-c0ee40ffff293d4e","payloadType":"str","x":150,"y":392,"wires":[["90ae30e8.ce354"]]},{"id":"f5ac112b.5c6f2","type":"template","z":"87158aa2.470b68","name":"telegram payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"chatId\": 1148637383,\n    \"type\": \"message\",\n    \"content\": \"{{payload}}\"\n}\n\n","output":"json","x":450,"y":400,"wires":[["8a66ebd3.7a5318"]]},{"id":"8a66ebd3.7a5318","type":"telegram sender","z":"87158aa2.470b68","name":"","bot":"3bb51d73.a39412","x":730,"y":400,"wires":[[]]},{"id":"59c9a9e9.bb8a28","type":"inject","z":"87158aa2.470b68","name":"InovaSE01","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"InovaSE01","payload":"eui-0840411cbb0cffff","payloadType":"str","x":150,"y":231,"wires":[["90ae30e8.ce354"]]},{"id":"21cd4c47.443944","type":"inject","z":"87158aa2.470b68","name":"GW_Veranopólis","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"GW_Veranópolis","payload":"eui-60c5a8fffe74645c","payloadType":"str","x":171,"y":176,"wires":[["90ae30e8.ce354"]]},{"id":"908873d1.88cc7","type":"inject","z":"87158aa2.470b68","name":"Vortyce","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"Vortyce","payload":"eui-60c5a8fffe746479","payloadType":"str","x":141,"y":285,"wires":[["90ae30e8.ce354"]]},{"id":"34c98374.b54efc","type":"inject","z":"87158aa2.470b68","name":"Trinopolo03","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"Trinopolo03","payload":"eui-c0ee40ffff293d51","payloadType":"str","x":152,"y":450,"wires":[["90ae30e8.ce354"]]},{"id":"a1df502e.8a749","type":"inject","z":"87158aa2.470b68","name":"GW_Douglas","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"GW_Douglas","payload":"eui-c0ee40ffff29855c","payloadType":"str","x":161,"y":504,"wires":[["90ae30e8.ce354"]]},{"id":"249813e9.53d8fc","type":"debug","z":"87158aa2.470b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":200,"wires":[]},{"id":"328cad0a.8b7f82","type":"debug","z":"87158aa2.470b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"9ded9b45.87f6a8","type":"inject","z":"87158aa2.470b68","name":"Novus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"Novus","payload":"eui-34fa40fffe140740","payloadType":"str","x":140,"y":120,"wires":[["90ae30e8.ce354"]]},{"id":"3bb51d73.a39412","type":"telegram bot","botname":"LoRa_Magic","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]
